
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">
    <title>LISE</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>

    <header>
      <nav style="background-color: #1976D2 !important" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!-- <a class="navbar-brand" >LISE</a> -->
        <img src="../images/circuit.png" href="#" width="30" height="30">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="margin-left: 5%" class="collapse navbar-collapse " id="navbarCollapse">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
             <a class="nav-link" href="#"><b>HOME </b> <span class="sr-only">(current)</span></a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="#beneficios" onclick="addEffect('beneficios')"><b>Benefícios</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#atualizar" onclick="addEffect('atualizar')"><b>Como atualizar?</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visualizar" onclick="addEffect('visualizar')"><b>Visualizar Dados</b></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <br> <br>

      <div style="margin-bottom: 4%; background-color: #E3F2FD !important" class="p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-10 p-lg-4 mx-auto">
          <h1 class="display-5" style="color: #0D47A1"><b>O QUE NÃO FAZER AO DESENVOLVER</b></h1>
          <p style="color: #0D47A1" class="lead font-weight-normal">
            Clique no botão a baixo e descubra o que seus futuros clientes poderão pensar sobre usa aplicação
          </p>
          <a class="btn btn btn-primary" data-toggle="modal" data-target="#myModal" href="#">clique-me</a>
        </div>
      </div>

      <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Lorem Ipsum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <b>What is Lorem Ipsum?</b><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                <br><br><b>Why do we use it?</b><br>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                <br><br><b>Where does it come from?</b><br>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
              </div>
              <br>
            </div>
          </div>
        </div>

      <div class="container" style="margin-bottom: 4%" id="beneficios">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/3.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO I</p>
                <p>Em desenvolvimento</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/3.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO II</p>
                <p>Em desenvolvimento</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/3.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO III</p>
                <p>Em desenvolvimento</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-bottom: 4%" id="atualizar">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="padding-top: 2%">
          <li class="nav-item">
            <a class="nav-link active" id="um-tab" data-toggle="tab" href="#um" role="tab" aria-controls="um" aria-selected="true">Passo I</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="dois-tab" data-toggle="tab" href="#dois" role="tab" aria-controls="dois" aria-selected="false">Passo II</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tres-tab" data-toggle="tab" href="#tres" role="tab" aria-controls="tres" aria-selected="false">Passo III</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="padding-top: 2%">
          <div  class="tab-pane fade show active" id="um" role="tabpanel">
            <div style="background-color: #E3F2FD !important"  class="jumbotron">
              <h5><b>O primeiro passo é...</b></h5>
              <p style="font-size: 17px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            </div>
          </div>
          <div class="tab-pane fade" id="dois" role="tabpanel">
            <div style="background-color: #E3F2FD !important"  class="jumbotron">
              <h5><b>O segundo...</b></h5>
              <p style="font-size: 17px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="tres" role="tabpanel">
            <div style="background-color: #E3F2FD !important"  class="jumbotron">
              <h5><b>Por último...</b></h5>
              <p style="font-size: 17px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
              <button type="button" class="btn btn-warning">Tente aqui</button>
            </div>

          </div>
        </div>
      </div>

      <div class="container" style="margin-bottom: 4%" id="visualizar">
        <div class="row">
          <div class="col-lg-4" style="text-align: center">
            <img src="../images/cubes.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Jogos Educacionais</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p>
                  <a href="http://localhost:2300/index/category/education" class="btn btn-info my-2">clique</a>
                </p>
            </div>
          </div>
          <div class="col-lg-4" style="text-align: center">
            <img  src="../images/network.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Redes sociais</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                <a href="http://localhost:2300/index/category/network" class="btn btn-info my-2">clique</a>
              </p>
            </div>
          </div>
          <div class="col-lg-4" style="text-align: center">
            <img src="../images/graph.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Organização financeira</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                <a href="http://localhost:2300/index/category/finance" class="btn btn-info my-2">clique</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <footer class="container">
        <hr class="featurette-divider">
        <p class="float-right"><a href="#">TOPO</a></p>
        <p>&copy; 2018 Projeto Lise </p>
        <!-- <p>&copy; 2018 Project Lise &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>

    </main>

    <script>
      function addEffect(value) {
        if (value == 'beneficios') $('#beneficios').addClass('animated bounceIn');
          else if (value == 'atualizar') $('#atualizar').addClass('animated bounceIn');
            else if (value == 'visualizar') $('#visualizar').addClass('animated bounceIn');
      }
    </script>

  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
