
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Lise</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Project LISE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#beneficios" onclick="addEffect('beneficios')">Benefícios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#atualizar" onclick="addEffect('atualizar')">Como atualizar?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visualizar" onclick="addEffect('visualizar')">Visualizar Dados</a>
            </li>
          </ul>

        </div>
      </nav>
    </header>

    <main role="main">

      <br> <br>

      <section class="jumbotron text-center">
        <br> <br>
        <div class="container">
          <h3 class="jumbotron-heading"><b>O que <mark>não</mark> fazer ao desenvolver</b></h3>
          <p class="">
            Clique no botão a baixo e exatamente o que seus futuros clientes estão pensando sobre usa aplicação
          </p>
          <p>
            <a href="#" class="btn btn-light my-2">Saiba aqui</a>
          </p>
        </div>
      </section>

      <section class="container" style="margin-bottom: 3%" id="beneficios">

        <h3>BENEFÍCIOS</h3>
        <hr style="padding: 0% 2% 2% 2%"class="featurette-divider">

        <div class="row">

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/robot.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO I</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/robot.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO II</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../images/robot.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">BENEFÍCIO III</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Conheça</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>

      <section class="container" style="margin-bottom: 3%" id="atualizar">

        <h3>COMO ATUALIZAR?</h3>
        <hr style="padding: 0% 2% 2% 2%"class="featurette-divider">

          <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="padding: 0% 2% 0% 2%">
            <li class="nav-item">
              <a class="nav-link active" id="um-tab" data-toggle="tab" href="#um" role="tab" aria-controls="um" aria-selected="true">Passo I</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="dois-tab" data-toggle="tab" href="#dois" role="tab" aria-controls="dois" aria-selected="false">Passo II</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tres-tab" data-toggle="tab" href="#tres" role="tab" aria-controls="tres" aria-selected="false">Passo III</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent" style="padding: 2%">
            <div class="tab-pane fade show active" id="um" role="tabpanel">
              <div class="jumbotron">
                <h2>Um</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="dois" role="tabpanel">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h2>Dois</h2>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tres" role="tabpanel">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Fluid jumbotron</h1>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
              </div>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            </div>
          </div>

      </section>

      <section class="container atu" style="margin-bottom: 3%" id="visualizar">

        <h3>VISUALIZAR DADOS</h3>
        <hr style="padding: 0% 2% 2% 2%"class="featurette-divider">

        <div class="row">

          <div class="col-lg-4" style="text-align: center">
            <img class="rounded-circle" src="../images/edu.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Educação</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p>
                  <a href="http://localhost:2300/index/category/education" class="btn btn-info my-2">clique</a>
                </p>
            </div>
          </div>

          <div class="col-lg-4" style="text-align: center">
            <img class="rounded-circle" src="../images/chatting.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Comunicação</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                <a href="http://localhost:2300/view" class="btn btn-info my-2">clique</a>
              </p>
            </div>
          </div>

          <div class="col-lg-4" style="text-align: center">
            <img class="rounded-circle" src="../images/bus.png" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
              <h5 class="card-title">Negócios</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                <a href="http://localhost:2300/view" class="btn btn-info my-2">clique</a>
              </p>
            </div>
          </div>

        </div>

        <hr class="featurette-divider">

      </section>

      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </main>

    <script>
      function addEffect(value) {
        if (value == 'beneficios') $('#beneficios').addClass('animated bounceIn');
          else if (value == 'atualizar') $('#atualizar').addClass('animated bounceIn');
            else if (value == 'visualizar') $('#visualizar').addClass('animated bounceIn');
      }
    </script>

  </body>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
